.gradienteDiSfondo {
  background: rgba(0, 0, 0, 0.041);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 20px;
  border: 1px solid rgba(5, 5, 5, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(0, 0, 0, 0.5),
    inset 0 -1px 0 rgba(0, 0, 0, 0.1), inset 0 0 8px 4px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}
.bottone-classifica {
  top: 84%;
  left: 30%;
}
